<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MultiShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>-->
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"></section>
  </configSections>
  <!--<modules>
    <module assemblyFile="AI.ClientBase.Module.dll" moduleType="AI.ClientBase.Module.ClientBaseModuleInit, AI.ClientBase.Module" moduleName="AI.ClientBase.Module" startupLoaded="true"/>
    <module assemblyFile="AI.ClientHousingUtilities.Module.dll" moduleType="AI.ClientHousingUtilities.Module.ClientHousingUtilitiesModuleInit, AI.ClientHousingUtilities.Module" moduleName="AI.ClientHousingUtilities.Module" startupLoaded="true"/>
    <module assemblyFile="AI.ReferenceHousing.Module.dll" moduleType="AI.ReferenceHousing.Module.HousingModuleInit, AI.ReferenceHousing.Module" moduleName="AI.ReferenceHousing.Module" startupLoaded="true"/>
    <module assemblyFile="AI.ReferenceRentGrids.Module.dll" moduleType="AI.ReferenceRentGrids.Module.ReferenceRentGridsModuleInit, AI.ReferenceRentGrids.Module" moduleName="AI.ReferenceRentGrids.Module" startupLoaded="true"/>
  </modules>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.362" newVersion="7.0.0.362" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <MultiShell.Properties.Settings>
      <setting name="ModuleLastOpened" serializeAs="String">
        <value />
      </setting>
      <setting name="AccentName" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeName" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
    </MultiShell.Properties.Settings>
  </userSettings> 
</configuration>
